 .display-flex {
     display: flex;
 }

 .navbar {
     justify-content: space-between;
     align-items: center;
     margin-right: 150px;
     margin-left: 150px;
 }

 .nav-link {
     text-decoration: none;
 }

 .nav-item {
     list-style: none;
 }

 .unorder {
     gap: 48px;
 }

 .light-gray {
     color: #8987A1;
 }

 .black {
     color: #252432;
 }

 .orange {
     color: orangered;
 }

 .banner {

     justify-content: space-between;
     margin-right: 150px;


 }

 .banner-item {
     width: 500px;
     height: 108px;
     padding-top: 174px;
     padding-left: 180px;

 }

 .banner-head {
     font-weight: bold;
     font-size: 65px;
 }

 .banner-img {
     padding-top: 120px;
 }

 .shop-title {
     font-weight: bold;
     font-size: 50px;
 }

 .shop-sec {
     text-align: center;
     padding-top: 130px;
     width: 900px;
     margin-left: 300px;
     margin-right: 300px;
 }

 .card {
     border: solid black;
     border-style: none;
     width: 270px;
 }

 .card-details {
     text-align: center;
 }

 h3 {
     font-weight: 300;
     font-size: 22px;
 }

 p {
     font-weight: bold;
     font-size: 22px;
 }

 button {
     width: 270px;
     font-size: 16px;
     font-weight: 300;
     color: white;
     background-color: orangered;
     height: 50px;
     width: 270px;
     border-style: none;
 }

 .shop {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     margin-top: 50px;
     margin-left: 150px;
     margin-right: 150px;
 }

 .shop-text {
     font font-size: 22px;
     width: 360px;
 }

 .body-text {
     height: 520px;
     width: 480px;
     margin-top: 100px;
 }

 .body {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-left: 150px;
     margin-right: 50px;
     margin-top: 150px;
 }

 .sticker {
     position: relative;
 }

 .sticker-cont {
     height: 600px;
     width: 540px;

 }

 .small-sticker {
     height: 280px;
     width: 280px;
     position: absolute;
     right: 10px;
     top: -100px;
 }

 .Big-img {
     position: relative;
 }

 .img-text {
     position: absolute;
     top: 150px;
     left: 170px;
     text-align: center;
 }

 .small-img {
     position: relative;
 }

 .small-img-text {
     position: absolute;
     top: 50px;
     left: 80px;
     text-align: center;
 }

 .deals {
     width: 1140px;
     margin-left: 200px;
     margin-top: 80px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .form-bg {
     margin-top: 80px;
     margin-left: 50px;
     position: relative;

 }

 .form-bg-img {

     height: auto;
     display: block;
 }


 .input-text {
     position: absolute;
     top: 160px;
     left: 210px;
     text-align: center;
 }

 @media screen and (max-width:576px) {
     .navbar {
         width: 100%;
         margin-left: 0px;
         gap: 300px;
     }

     .none {
         display: none;
     }

     .banner {
         flex-direction: column-reverse;
     }

     .banner-item {
         padding-top: 10px;
     }

     .banner-item,
     .banner-img {
         padding-left: 0px;
         padding-right: 0px;
     }

     .shop-sec {
         text-align: center;
         margin: 0 auto;
         padding-top: 250px;
         width: 100%;
         padding-left: 100px;
     }

     .shop {
         grid-template-columns: repeat(2, 1fr);
         width: 100%;
         margin: 0 auto;
         gap: 20px;
         padding-top: 50px;
     }

     .body {
         grid-template-columns: repeat(1, 1fr);

         margin-left: 0;
     }

     .small-sticker {
         left: 380px;
     }

     .body-text {
         margin-top: 0px;
     }

     .x {
         padding-top: 10px;
         margin-left: 0;
     }

     .deals {
         grid-template-columns: repeat(1, 1fr);
         margin-left: 55px;

     }

     .bg-img {
         width: 380px;
     }

     .bn-img {
         width: 420px;
         height: 275px;
         margin-left: 0px;
     }

 }